<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Document</title>
</head>


<script>
    
function showMessage() {
    document.getElementById('runningMessage').style.display = 'block';
}

</script>


<body>


    
    <div class="top_container">
    
        <div class="example_prompts">

            <p style="font-size: 20px; font-weight: bold;">Eksempler på spørsmål fra kunde</p>
            
            <ol>
                <li><p>Hva er fordelen med coax sine varmtvansspredere?</p></li>
                <li><p>Gi meg tre grunner til å velge direkte varmer fremfor varmtvannstank?</p></li>
                <li><p>Hva er forskjellen på direkte varmer og varmtvannstank?</p></li>
                <li><p>Hva er telefonnummeret dires?</p></li>
                <li><p>På hvilken epost adresse kan jeg fåt tak i COX AS?</p></li>
                <li><p>Hvor lenge har selskapet vært i drift?</p></li>
                <li><p>Hvorfor bør jeg velge dine tjenester fremfor konkurrentene?</p></li>
                <li><p>Har du referansecaser eller kundeomtaler jeg kan lese?</p></li>
                <li><p>Hva inkluderer den standard helhetlige tjenesten du nevnte?</p></li>
                <li><p>Kan du gi meg et overslag over hvor lang tid en optimaliseringsprosess vanligvis tar?</p></li>
                <li><p>Er det noen garantier for resultater når jeg benytter meg av deres optimaliseringstjenester?</p></li>
                <li><p>Tilbyr dere skreddersydde løsninger basert på individuelle bedriftsbehov?</p></li>
                <li><p>Hvor ofte vil jeg motta rapporter eller oppdateringer om min bedrifts optimaliseringsprosess?</p></li>
                <li><p>Hva slags teknologi og verktøy bruker dere for å utføre optimaliseringen?</p></li>
                <li><p>Kan jeg få en demo av hvordan tjenesten fungerer før jeg bestemmer meg?</p></li>
                <li><p>Hvordan håndterer dere konfidensiell informasjon og data fra kundene?</p></li>
                <li><p>Hva er prisstrukturen for deres tjenester? Er det fastpris eller timebasert?</p></li>
                <li><p>Hvordan fungerer supportsystemet deres dersom jeg støter på utfordringer etter å ha brukt tjenesten deres?</p></li>
                <li><p>Er det mulig å avtale et møte for å diskutere mine spesifikke behov og få en bedre forståelse av hvordan dere kan hjelpe?</p></li>
                <li><p>Har dere erfaring med å jobbe innenfor en spesifikk bransje?</p></li>
                <li><p>Jeg har en klage.Hvor melder jeg i fra om en klage?</p></li>
                <li><p>Hvordan bestemmer jeg hvilken varmer jeg trenger for hytta eller fritidshuset mitt?</p></li>
                <li><p>Er COAX direkte vannvarmerne smarte å benytte i alle typer hytter, fritidshus, anneks, letthus, etc?</p></li>
                <li><p>Hva er forutsetningen for å bruke COAX sin smartere direkte vannvarming?</p></li>
                <li><p>Hvor stor varmer behøver jeg i en hytte / fritidshus?</p></li>
            </ol>
        </div>
    
        <div class="chat_container">

            <div class="header_container">
                <h1>COAX Customer Service</h1>
            
            </div>
            <div class="chat_header">

                <h3>Chat med COAX sin nettside</h3>
                
                <!--
                    <p style="font-size: 20px; font-weight: bold;">
                    https://www.coax.no/</p>
                -->
            </div>
            
            <form class="main_form" action="/" method="POST">
                <input class="site_input" type="text" name="url" placeholder="Skirv inn en URL">

                <div class="response_field" id="response">
                    {% if response %}
                    <p class="response_text">Svar: {{ response }}</p>
                    {% else %}
                    <p></p>
                    {% endif %}
                </div>
                
                <div class="textarea-wrapper">
                    <textarea class="user_message" id="user_message" name="prompt" placeholder="Hva lurer du på?" cols="30" rows="10" ></textarea>
                    <input class="submit_btn" type="submit" value="Send" onclick="showMessage()">
                </div>
                
            </form>

            <div id="runningMessage" style="display: none;">Genererer...</div>
        </div>
    </div>
    
</body>
</html>